
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: white !important;
    background-color: #70D2B6 !important;
}
.collapse ul li a {
    color: white !important;
}
.navbar-brand{
	color:white;
}
.navbar-header a:hover{
	 background-color: #70D2B6 !important;
	 color: white !important;
}
nav a:visited,.navbar-nav{
    color: white!important;
}

.navbar-reverse  {
    border-color: transparent;
    background-color:#589F8B;
}

body{
	font-family:'Varela Round';
	background:#DAD5B5;
}

.head
 	{
 		margin-top: -20px;
 	    background:url(img/work.jpg);
 		position:relative;
 		width:100%;
 		height:auto;
 		min-height:35rem;padding:15rem 0;
 		height:70vh;
 		background-position:center;background-repeat:no-repeat;
 		background-attachment:scroll;
 		background-size:cover;
        color :white;
        font-size: 6rem;
        
 	}
 	
.head h1{font-size:6rem;letter-spacing:.5rem; padding-top: 100px;}
.head h2{font-size:2rem}

 .head .description
 	{
        color :white;
        font-size: 3rem;
         
 	}


.pp{
	display:block;
	margin:auto;
	padding-top: 30px;
}

.section h2, .contact h2{
	color:#589F8B;
    padding-left: 20px;
}
p{
	padding-left: 40px;
	font-size:1.55rem;
}
ul{
	padding-left: 70px;
}

label{
	color:#589F8B;
	font-size: 1.7rem;
}

.btn{
	font-family:'Varela Round';
	text-transform:uppercase;
	letter-spacing:.15rem;
	border:0;
	float: right;
}

 .btn-primary{
 	background-color:#589F8B;
 }
 .btn-primary:hover{background-color:#70D2B6}
 .btn-primary:focus{background-color:#70D2B6}
 .btn-primary:active{background-color:#70D2B6!important}

 footer{
 	background-color: #589F8B;

 }